@import "tailwindcss";

.crt-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--screen-radius);
}

@theme {
  --font-retro: "VT323", "Press Start 2P", monospace;
  --font-pixel: "Press Start 2P", monospace;
  --font-terminal: "VT323", monospace;

  --screen-radius: 20px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}
